@model VidlyPrototype.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<section id="change-password-section">
    <div class="change-password-inner container inner-spacer-form">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-form p-3">
                    <div class="card-body">
                        <h3 class="display-4 border-bottom mb-3 py-1 text-center">Change Password</h3>
                        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock-open"></i>
                                    </span>
                                </div>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current Password" })
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-block">
                                Change Password
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}